<div class="box-principal">
  <div class="box-inner">
    <div class="box-content">
      <div class="row">
        <div class="col-sm-12 col-md-12	col-lg-12	col-xl-12">
          Una de las preocupaciones que debe existir en la docencia es la mejora constante de la calidad de la formación impartida. Para hacer frente a este objetivo, nos encontramos con el problema de la elaboración, diseño y desarrollo de materiales y aplicaciones que de algún modo ayuden a lograr la mejora en la formación. En este sentido, la experiencia docente del profesor <a href="http://www.esi.uclm.es/www/jjcastro/" target="_blank">Jose Jesús Castro Sánchez</a> en la materia Procesadores de Lenguajes ha dado como fruto la herramienta Proletool. El objetivo de la misma es completar los materiales que existen en la actualidad, con el fin de ayudar a entender la relación existente entre las fases de análisis léxico y sintáctico, y a la enseñanza y el aprendizaje de las técnicas de análisis sintáctico descendente: LL1, y ascendentes: SLR1, LR1 y LALR1, que se estudian en la materia Procesadores de Lenguajes de los estudios de informática.
        </div>
      </div>
    </div>

    <div class="box-content">
      <div class="row">
        <div class="col-sm-12 col-md-12	col-lg-12	col-xl-12">
          Proletool resuelve ejercicios sobre generación de analizadores léxicos y analizadores sintácticos descendentes y ascendentes. Mostrando las tablas de análisis generadas, así como la información que permite construírlas. Con las tablas generadas se podrá hacer simulaciones de los analizadores construídos y de su comunicación. Además, la herramienta también admite la propuesta de soluciones a los ejercicios introducidos, chequeando como de correcta es la solución introducida, y recomendando acciones de aprendizaje en función de los errores/aciertos cometidos.
        </div>
      </div>
    </div>

    <div class="box-content">
      <div class="row">
        <div class="col-sm-12 col-md-12	col-lg-12	col-xl-12">
          Proletool resuelve ejercicios sobre generación de analizadores léxicos y analizadores sintácticos descendentes y ascendentes. Mostrando las tablas de análisis generadas, así como la información que permite construírlas. Con las tablas generadas se podrá hacer simulaciones de los analizadores construídos y de su comunicación. Además, la herramienta también admite la propuesta de soluciones a los ejercicios introducidos, chequeando como de correcta es la solución introducida, y recomendando acciones de aprendizaje en función de los errores/aciertos cometidos.
        </div>
      </div>
    </div>

    <div class="box-content">
      <div class="row">
        <div class="col-sm-12 col-md-12	col-lg-12	col-xl-12">

          Por otra parte hay que destacar que Proletool es en si misma un ejemplo de aplicación de los conocimientos de la materia en la resolución de problemas reales. Es decir, su diseño está basado en un procesador de lenguajes y la interacción con la misma se realiza a través de un lenguaje formal. De esta forma se prentende motivar a los estudiantes, que ven ejemplos reales de aplicaciones solucionadas empleando los conocimientos de la materia.
        </div>
      </div>
    </div>
  </div>
</div>
