<div class="box-principal">
  <div class="box-inner">
    <div class="box-content">
      <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/imgsources/imgblanca.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Jose Jesús</h5>
              <p class="card-text">Descripcion</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/imgsources/imgblanca.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Alejandro</h5>
              <p class="card-text">Descripcion</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
